{% extends "base.html" %}

{% block main %}
Thanks <strong>@{{ current_user.username }}</strong> for sending your feedback to <strong>@{{ author.username }}</strong>!<br/>
<br/>
Now, tweet him more details!
<form method="post" action="/user/tweet">
	<textarea name="tweet" maxlength="140">@{{ author.username }} {% if feedback.content == "positive" %}I'm enthusiast{% else %}I'm skeptic{% endif %} about your {{ extended_idea.title }} because...</textarea><br/>
	<input type="submit" value="Tweet"> or <a href="/">Go back to homepage</a>
</form>
<br/>
{% endblock %}