{% extends "narrow.html" %}

{% block meta %}
<title>{{ extended_idea.title }} (by @{{ author.username }})</title>
<meta name="description" content="{{ extended_idea.extended_steps.1.answer }}">
{% endblock %}

{% block options %}
	{% if feedback %}
	<form role="form" method="post" action="/feedback/{{ feedback.key.name }}/delete" class="delete">
		You're {% if feedback.content == "positive" %}enthusiastic{% else %}skeptical{% endif %}
		<input type="submit" value="Cancel" class="btn btn-default" />
	</form>
	{% endif %}
{% endblock %}

{% block narrow %}
<div id="idea">
	<h2>{{ extended_idea.title }}</h2>
	<small>
		<a href="/{{ author.username }}" class="author-pic" style="background-image:url('{{ author.avatar }}')"> <a href="/{{ author.username }}">@{{ author.username }}</a> | {{ extended_idea.created|timesince|upto:',' }} ago | Enthusiasts: {{ extended_idea.positive }} | Skeptics: {{ extended_idea.negative }}{% if current_user.key.id == author.key.id or admin %} | <a href="/idea/{{ extended_idea.id }}/edit">Edit</a>{% endif %}
	</small>
	{% for extended_step in extended_idea.extended_steps %}
	<h3>{{ extended_step.title }}</h3>
	<div class="answer">{{ extended_step.answer }}</div>
	{% endfor %}
	{% if not current_user %}
	<div class="not-logged-in">
		To comment: <a href="/auth/signin" class="btn btn-default">Sign in with Twitter</a>
	</div>
	{% else %}
	<div class="feedback">
		{% if current_user.key.id != author.key.id %}
			{% if not feedback %}
			<form role="form" method="post" action="/idea/{{ extended_idea.id }}/feedback" class="feedback-form">
				<div class="form-group">
					<h4>What do you think about this idea?</h4>
					<input type="radio" name="feedback" value="positive" id="positive">
					<label for="positive">I'm enthusiastic</label><br/>
					<input type="radio" name="feedback" value="negative" id="negative">
					<label for="negative">I'm skeptical</label>
				</div>
				<div class="form-group">
					<h4>Can you give more feedback?</h4>
					<textarea rows="6" cols="60" name="text" class="form-control"></textarea>
					<em>(optional)</em>
				</div>
				<div class="form-group">
					<input type="submit" value="Send Feedback" class="btn btn-primary">
				</div>
			</form>
			{% endif %}
		{% endif %}
		{% if current_user.key.id == author.key.id or feedback %}
		<form role="form" method="post" action="/idea/{{ extended_idea.id }}/comment" class="comment-form">
			<div class="form-group">
				<textarea rows="6" cols="60" name="text" class="form-control"></textarea>
			</div>
			<div class="form-group">
				<input type="submit" value="Comment" class="btn btn-primary">
			</div>
		</form>
		{% endif %}
	</div>
	{% endif %}
	<h3>Comments:</h3>
	{% if comments %}
		{% for a, c, d in comments %}
		<div class="comment" style="padding-left:{{ d|double }}em">
			<small><a href="/{{ a.username }}" class="author-pic" style="background-image:url('{{ author.avatar }}')"></a> <a href="/{{ a.username }}">@{{ a.username }}</a> | {{ c.created|timesince|upto:',' }} ago</small>
			<div class="comment-text">
			{{ c.text|linebreaksbr }}
			</div>
			{% if current_user %}
			<small class="comment-actions"><a href="/comment/{{ c.key.id }}/reply">reply</a>{% if current_user.key.id == a.key.id or admin %} | <a href="/comment/{{ c.key.id }}/delete">delete</a>{% endif %}</small>
			{% endif %}
		</div>
		{% endfor %}
	{% else %}
	No comment so far
	{% endif %}
	</p>
</div>
{% endblock %}