{% extends "base.html" %}

{% block main %}
	<h2>{{ extended_idea.title }} (by</strong> <a href="/{{ author.username }}">@{{ author.username }}</a>)</h2>
	<p>
		<strong>Pitched</strong> {{ extended_idea.created|timesince }} ago | <strong>Enthusiasts:</strong> {{ extended_idea.positive }} | <strong>Skeptics:</strong> {{ extended_idea.negative }} {% if current_user.key.id == author.key.id or admin %}| <a href="/idea/{{ extended_idea.id }}/delete">Delete</a><br/>
		{% endif %}
	</p>
	{% for extended_step in extended_idea.extended_steps %}
	<p>
		<em>{{ extended_step.title }}</em><br/>
		{{ extended_step.answer }}
	</p>
	{% endfor %}
	{% if not current_user %}
		<p>Read more startup ideas by <a href="/auth/signin">signing in with Twitter</a><br/></p>
	{% else %}
		{% if current_user.key.id != author.key.id %}
			{% if feedback %}
			Feedback sent to @{{ author.username}}:<strong> {% if feedback.content == "positive" %}I'm enthusiast{% else %}I'm skeptic{% endif %}!</strong>
			<form method="post" action="/feedback/{{ feedback.key.name }}/delete">
				<input type="submit" value="Delete Feedback"/>
			</form>
			{% else %}
			<strong>Hey, how do you feel about this idea?</strong>
			<form method="post" action="/idea/{{ extended_idea.id }}/feedback">
				<input type="radio" name="feedback" value="positive" id="positive">
				<label for="positive">I'm enthusiastic</label><br/>
				<input type="radio" name="feedback" value="negative" id="negative">
				<label for="negative">I'm skeptic</label><br/>
				<br/>
				<strong>What are you enthusiastic/skeptic about exactly?</strong> (optional)<br/>
				<textarea rows="6" cols="60" name="text"></textarea><br/>
				<br/>
				<input type="submit" value="Send Feedback">
			</form>
			{% endif %}
		{% endif %}
		{% if current_user.key.id == author.key.id or feedback %}
		<form method="post" action="/idea/{{ extended_idea.id }}/comment">
			<textarea rows="6" cols="60" name="text"></textarea><br/>
			<!--<label><input type="checkbox" name="twitter" checked> Tweet comment</label><br/>-->
			<input type="submit" value="Comment">
		</form>
		{% endif %}
	{% endif %}
	<p>
		<strong>Comments:</strong><br/>
		{% if comments %}
			{% for a, c, d in comments %}
			<p style="padding-left: {{ d }}em">
				<a href="/{{ a.username }}">@{{ a.username }}</a> <small>{{ c.created|timesince }} ago</small><br/>
				{{ c.text|linebreaksbr }}<br/>
				{% if current_user %}
				<small><a href="/comment/{{ c.key.id }}/reply">reply</a>{% if current_user.key.id == a.key.id %} | <a href="/comment/{{ c.key.id }}/delete">delete</a>{% endif %}</small>
				{% endif %}
			</p>
			{% endfor %}
		{% else %}
		No comment so far
		{% endif %}
	</p>
{% endblock %}