{% extends "narrow.html" %}

{% block options %}
	{% if status == "edit" %}<a href="/idea/{{ id }}/delete" class="btn btn-default">Delete</a>{% endif %}
{% endblock %}


<!-- TODO: JS to pre-control the form -->
{% block narrow %}
<div id="pitch">
	<h2>{% if status == "new" %}So, what is your big idea?{% else %}Update your idea{% endif %}</h2>
	<form role="form" method="post" action="{{ url }}">
		<h3>Elevator Pitch</h3>
		<div class="form-group">
			<label for="title">Describe your startup idea</label>
			<input type="text" name="title" size="60" maxlength="50" autocomplete="off" {% if title %}value="{{ title }}"{% endif %} class="form-control"/>
			<em>(50 char. max)</em>
		</div>
		{% for step in steps %}
		<h3>{{ step.title }}</h3>
		<div class="form-group">
			<label for="answer_{{ step.slug }}">{{ step.question }} </label>
			<textarea name="answer_{{ step.slug }}" rows="3" cols="60" maxlength="140" class="form-control">{% if step.answer %}{{ step.answer }}{% endif %}</textarea>
			 <em>(140 char. max)</em>
		</div>
		{% endfor %}
		<div class="form-group">
			<input type="submit" value="{% if status == 'new' %}Create{% else %}Update{% endif %}" class="btn btn-primary">
		</div>
	</form>
</div>
{% endblock %}