{% extends "base.html" %}

{% block main %}

<!-- TODO: JS to pre-control the form -->
<h2>So what is your big idea?</h2>
<p>
	If you are not ready yet, go back <a href="/">here</a>.<br/>
	On the contrary, fill the form below:<br/>
	<em>NB: all fields are mandatory</em>
</p>
<form method="post" action="/idea/pitch">
	<h3>Elevator Pitch</h3>
	<p>Describe your startup idea <em>(< 51 characters)</em></p>
	<input type="text" name="title" maxlength="50"/>	

	{% for step in steps %}
	<h3>{{ step.title }}</h3>
	<p>{{ step.question }} <em>(<141 characters)</em></p>
	<textarea name="answer_{{ step.slug }}" maxlength="140"></textarea>
	{% endfor %}

	<br/>
	<br/>
	<input type="submit" value="Create">
</form>

{% endblock %}