{% extends "base.html" %}

{% block main %}

<p>Please, complete your profile</p>
<!-- TODO: JS to pre-control the form -->
<form method="post" action="/auth/complete">
	<label for="email">Email: </label><input type="text" name="email"/><br/>
	<label for="country">Country: </label>
	<select name="country">
		<option></option>
		{% for country in countries %}
		<option value="{{ country.code }}">{{ country.name }}</option>
		{% endfor %}
	</select><br/>
	<br/>
	<input type="submit" value="Submit"/>
</form>
{% endblock %}