{% extends "narrow.html" %}

{% block narrow %}
<h2>Complete your profile</h2>
<!-- TODO: JS to pre-control the form -->
<form role="form" method="post" action="/auth/complete">
	<div class="form-group">
		<label for="email">Email: </label>
		<input type="text" name="email" class="form-control"/>
	</div>
	<div class="form-group">
		<label for="country">Country: </label>
		<select name="country" class="form-control">
			<option></option>
			{% for country in countries %}
			<option value="{{ country.code }}">{{ country.name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<input type="submit" value="Submit" class="btn btn-primary"/>
	</div>
</form>
{% endblock %}