{% extends "base.html" %}

{% block main %}

<p>Please, complete your profile</p>
<!-- TODO: JS to pre-control the form -->
<form method="post" action="/auth/complete">
	<label for="email">Your Email: </label><input type="text" name="email"/><br/>
	<label for="type">You're more a: </label>
	<select name="type">
		<option value="tech">Tech guy</option>
		<option value="biz">Biz guy</option>
		<option value="design">Design guy</option>
	</select><br/>
	<br/>
	<input type="submit" value="Submit"/>
</form>

{% endblock %}