{% extends "2-columns.html" %}

{% block left %}
	<div class="bottom home">
		<h3>About</h3>
		<div class="description">
			The place where developers, marketers, designers go pitch their new startup ideas.
		</div>
		<div class="misc">
			{% if current_user %}
			<a href="{{ current_user.username }}">@{{ current_user.username }}</a> | <a href="/auth/signout">Sign out</a>
			{% else %}
			<small>
				<a href="http://www.flickr.com/photos/leweb3/8969204693/in/set-72157633967789303" target="_blank">
					Photo credits: @leweb
				</a>
			</small>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block right %}
	<div class="feed-header">
		<h2>Most recent</h2><a class="btn btn-default" href="/idea/pitch">Pitch a new idea</a>
	</div>
	<div class="feed">
		{% if feed %}
			{% for idea, author in feed %}
			<div class="idea">
				<a href="/{{ author.username }}" class="author-pic" style="background-image:url('{{ img_url }}/{{ author.twitter_id }}')"></a>
				<h3>
					<a href="{% if current_user %}
								/idea/{{ idea.key.id }}
							{% else %}
								/auth/signin?next={{ site_url }}/idea/{{ idea.key.id }}
							{% endif %}"
					>
						{{ idea.title }}
					</a>
				</h3>
				<small>
					<a href="/{{ author.username }}">@{{ author.username }}</a> | {{ idea.created|timesince|upto:',' }} ago | Enthusiasts: {{ idea.positive }} | Skeptics: {{ idea.negative }} | Comments: {{ idea.comments }}
				</small>
			</div>
			{% endfor %}
		{% else %}
		<div class="empty">
			No startup idea has been pitched so far.
		</div>
		{% endif %}
	</div>
{% endblock %}
