{% extends "base.html" %}

{% block main %}

{% if current_user %}
	Hello <a href="{{ current_user.username }}">@{{ current_user.username }}</a><br/>
	<a href="/idea/pitch">Pitch a new idea</a><br/>
	{% if feed%}
		<h3>Latest ideas:</h3>
		{% for idea, author in feed %}
		<p>
			<strong><a href="/idea/{{ idea.key.id }}">{{ idea.title }}</a></strong><br/>
			Pitched by: <a href="{{ author.username }}">@{{ author.username }}</a> | Enthusiasts: {{ idea.positive }} | Skeptics: {{ idea.negative }} | Comments: {{ idea.comments }}<br/>
		</p>
		{% endfor %}
	{% else %}
	<p>
		No startup idea has been pitched here so far.<br/>
		Pitch one <a href="/idea/pitch">here</a>.<br/>
	</p>
	{% endif %}
	<p>
		<br/>
		<a href="/auth/signout">Sign out from Twitter</a>
	</p>
{% else %}
	<p>
		Pitch or get pitched a new startup idea.
	</p>
	<p>
		<a href="/auth/signin">Sign in with Twitter</a>
	</p>
{% endif %}

{% endblock %}	