{% extends "2-columns.html" %}

{% block left %}
	<div class="bottom home">
		<h3>About</h3>
		<div class="description">
			The place where developers, marketers, designers go pitch their new startup ideas.
		</div>
		<div class="misc">
			{% if current_user %}
			<a href="/{{ current_user.username }}">@{{ current_user.username }}</a> | <a href="/auth/signout">Sign out</a>
			{% else %}
			<small>
				<a href="http://www.flickr.com/photos/leweb3/8969204693/in/set-72157633967789303" target="_blank">
					Photo credits: @leweb
				</a>
			</small>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block right %}
	<div class="feed-header">
		<div class="feed-header-title">
			<h2>Recent ideas</h2>
			<small>
				{% if country_name %}
					<a href="/c/{{country_code}}">{{country_name}}</a> | <a href="/ideas/all">All countries</a>
				{% else %}
					All countries
				{% endif %}
			</small>
		</div>
		<a class="btn btn-default" href="/idea/pitch">Pitch a new idea</a>
	</div>
	{% include "feed.html" %}
{% endblock %}
