{% extends "2-columns.html" %}

{% block meta %}
<title>{{ user.name }} (@{{ user.username }}) on gopitch</title>
<meta name="description" content="The latest ideas from {{ user.name }} (@{{ user.username }}). {{ user.bio }}">
{% endblock %}

{% block left %}
	<div class="bottom author">
		<h3><a href="/{{ user.username }}">@{{ user.username }}</a></h3>
		<h4>{{ user.name }}</h4>
		<div class="description">
			{{ user.bio }}
		</div>
		<div class="misc">Ideas: {{ user.ideas }} {% if current_user.key.id == user.key.id %}| <a href="/user/settings">Settings</a>{% endif %}</div>
	</div>
{% endblock %}

{% block right %}
	<div class="feed-header">
		<h2>Most recent</h2>
	</div>
	{% include "feed.html" %}
{% endblock %}