{% extends "2-columns.html" %}

{% block meta %}
<title>{{ user.name }} (@{{ user.username }}) on Getpitchd</title>
<meta name="description" content="The latest ideas from {{ user.name }} (@{{ user.username }}). {{ user.bio }}">
{% endblock %}

{% block left %}
	<div class="bottom author">
		<h3><a href="/{{ user.username }}">@{{ user.username }}</a></h3>
		<h4>{{ user.name }}</h4>
		<div class="description">
			{{ user.bio }}
		</div>
		<div class="misc">Ideas: {{ user.ideas }}</div>
	</div>
{% endblock %}

{% block right %}
	<div class="feed-header">
		<h2>Most recent</h2>
	</div>
	<div class="feed">
		{% if ideas %}
			{% for idea in ideas %}
			<div class="idea">
				<a href="/{{ user.username }}" class="author-pic" style="background-image:url('/{{ user.username }}/image')"></a>
				<h3><a href="/idea/{{ idea.key.id }}">{{ idea.title }}</a></h3>
				<small><a href="{{ user.username }}">@{{ user.username }}</a> | {{ idea.created|timesince|upto:',' }} ago | Enthusiasts: {{ idea.positive }} | Skeptics: {{ idea.negative }} | Comments: {{ idea.comments }}</small><br/>
			</div>
			{% endfor %}
		{% else %}
			<div class="empty">No idea pitched so far.</div>
		{% endif %}
	</div>
{% endblock %}