{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block main %}
<div id="welcome">
	<div class="background"></div>
	<h1 class="logo">
		gopitch
	</h1>
	<p class="description">
		The place where developers, marketers, designers<br/>
		 go pitch their new startup ideas.
	</p>
	<p>
		<a class="btn btn-default" href="/auth/signin">Sign in with Twitter</a>
	</p>
	<p class="feeds">
		See ideas recently pitched in <a href="/ideas/fr">France</a>, <a href="/ideas/us">USA</a>, or <a href="/ideas/all">everywhere else</a>.
	</p>
	<small class="credits">
		<a href="http://www.flickr.com/photos/leweb3/8969204693/in/set-72157633967789303" target="_blank">Photo credits: leweb</a>
	</small>
</div>
{% endblock %}